---
layout: default
title: Evaldo Junior (InFog)
---

<ul class="unstyled posts-list">
  {% for post in paginator.posts %}
  <li>
    <span>{{ post.date | date_to_string }}</span>
    <a href="{{ post.url }}">
      <h2 class="post-title">{{ post.title }}</h2>
      <p>
        {{ post.content | strip_html | truncatewords: 30 }}
      </p>
    </a>
  </li>
  {% endfor %}
</ul>

<nav class="ink-navigation">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="/page{{ paginator.previous_page }}">Anterior</a>
    </li>
    {% else %}
    <li class="previous disabled">
      <a href="#">Anterior</a>
    </li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="disabled">
      <a href="#">{{ page }}</a>
    </li>
    {% elsif page == 1 %}
    <li>
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    </li>
    {% else %}
    <li>
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <li class="next">
      <a href="/page{{ paginator.next_page }}">Próximo</a>
    </li>
    {% else %}
    <li class="next disabled">
      <a href="#">Próximo</a>
    </li>
    {% endif %}
  </ul>
</nav>