---
layout: default
title: Douglas
---
{% for post in paginator.posts %}
  <section class="post">
    <header class="entry-header">
      {% if post.figure %}
        {% picture joao.jpg %}

      {% endif %}
      <h2 class="entry-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
      <p class="entry-meta">
        Posted on <a class="entry-date" href="date.html">{{ post.date | date_to_string }}</a>
        {% if post.categories.size > 0 %}
        | Categories
          {% for categorie in post.categories %}
          <a class="label label-danger" href="{{ site.url }}{{ categorie }}">{{ categorie }}</a>
          {% endfor %}
        {% endif %}
      </p>
    </header>
    <div class="entry-description">
      <p>
        {{ post.content | strip_html | truncatewords: 30 }}
      </p>
    </div>
  </section>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>