<html lang="pt-br" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="language" content="pt,brazil" />
	<title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>
<body ng-app="BlankApp" ng-cloak>

<style>
	.demo-card-wide.mdl-card {
		width: 100%;
	}
</style>

{% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
	<span class="date">{{ post.date }}</span>
</p>
<div class="content">
	{{ post.content }}
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	{% else %}
	<span class="previous">Previous</span>
	{% endif %}
	<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% else %}
	<span class="next ">Next</span>
	{% endif %}
</div>

<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript">
	angular.module('BlankApp', ['ngMaterial']);
</script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->