<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Hello, world!</title>
</head>
<body class="bg-gray-100">
<div class="container">
    <div class="wrapper px-2 md:px-0 my-4 md:my-12">
        <div class="grid md:grid-cols-12 gap-8">
            <aside class="sidebar md:sticky col-span-12 md:col-span-4 shadow-lg rounded-lg bg-blue-500 p-4 md:p-8"><a
                    href="/">
                <div class="image grid justify-items-center py-3 md:py-5 border-b"><img loading="lazy"
                                                                                        class="lazyload w-24 h-24 rounded-full shadow border-4 border-white"
                                                                                        src="{{ site.gravatar }}"
                                                                                        alt="{{ site.author }}"></div>
            </a>
                <div class="description grid justify-items-center py-3 md:py-5"><a href="/"><h1
                        class="text-2xl font-bold text-white">{{ site.author }}</h1></a>
                    <div class="flex mb-3 md:mb-5 pt-1"><h2 class="h-1 font-semibold italic text-white typed">Blog</h2>
                        <span class="typed-cursor">|</span></div>
                    <div class="social w-full mt-3 md:mt-6">
                        <ul class="flex justify-around mb-3 md:mb-5">
                            <li><a href="https://www.linkedin.com/in/douglasjam" title="LinkedIn"><i
                                    class="fab fa-linkedin text-3xl md:text-2xl text-white hover:text-gray-300 transform duration-200"></i></a>
                            </li>
                            <li><a href="#" title="Facebook"><i
                                    class="fab fa-facebook-square text-3xl md:text-2xl text-white hover:text-gray-300 transform duration-200"></i></a>
                            </li>
                            <li><a href="#" title="Twitter"><i
                                    class="fab fa-twitter-square text-3xl md:text-2xl text-white hover:text-gray-300 transform duration-200"></i></a>
                            </li>
                            <li><a href="#" title="Github"><i
                                    class="fab fa-github-square text-3xl md:text-2xl text-white hover:text-gray-300 transform duration-200"></i></a>
                            </li>
                            <li><a href="#" title="StackOverflow"><i
                                    class="fab fa-stack-overflow text-3xl md:text-2xl text-white hover:text-gray-300 transform duration-200"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="downloads">
                        <ul class="flex justify-around text-white">
                            <li><a href="/assets/docs/resume.pdf" class="text-sm hover:underline" download="resume">Download
                                CV</a></li>
                            <li class="font-light px-1">|</li>
                            <li><a href="/contact/" class="text-sm hover:underline">Contact me</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
            <main class="col-span-12 md:col-span-8 shadow-lg rounded-lg bg-white p-4 md:p-8">
                <div class="grid grid-cols-1 gap-6 place-items-center mb-3"><h1 class="font-bold text-2xl text-center">
                    Blog Posts</h1>
                    <p class="text-center"></p></div>
                <div class="mb-3 text-sm text-gray-500">
                    <ul class="flex breadcrumbs">
                        <li><a href="/">Home</a></li>
                        <li class="px-1">&gt;</li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="page">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4"><a href="/blog/documentation/"
                                                                          class="no-underline"> <img
                            class="lazyload h-44 w-full object-cover object-center rounded"
                            src="https://picsum.photos/id/180/500/300" alt="Documentation"><h4
                            class="text-xl font-semibold text-center">Documentation</h4>
                        <p class="text-center">Refer to this post for making changes to your jekyll site.</p></a> <a
                            href="/blog/second-post/" class="no-underline"> <img
                            class="lazyload h-44 w-full object-cover object-center rounded"
                            src="https://picsum.photos/id/428/500/300" alt="Travel Now"><h4
                            class="text-xl font-semibold text-center">Travel Now</h4>
                        <p class="text-center">A list of all the countries I have been to.</p></a> <a
                            href="/blog/sample-post/" class="no-underline"> <img
                            class="lazyload h-44 w-full object-cover object-center rounded"
                            src="https://picsum.photos/id/152/500/300" alt="Sample Post"><h4
                            class="text-xl font-semibold text-center">Sample Post</h4>
                        <p class="text-center">This is a sample post.</p></a> <a href="/blog/first-post/"
                                                                                 class="no-underline"> <img
                            class="lazyload h-44 w-full object-cover object-center rounded"
                            src="https://picsum.photos/id/1074/500/300" alt="Mark your presense with Online Resume"><h4
                            class="text-xl font-semibold text-center">Mark your presense with Online Resume</h4>
                        <p class="text-center">Use this theme to build your online resume.</p></a></div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>