---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="post-header">
    <span class="post-writed pull-left">
      Escrito em {{ page.date | date: " %d/%m/%Y" }}
    </span>

    <span class="posts-labels pull-right">
      <span class="title">Categoria</span>
      <span class="label label-primary">{{ page.category }}</span>
      <span class="title">Tags</span>
      {% for tag in page.tags %}
      <span class="label label-default">{{ tag }}</span>
      {% endfor %}
    </span>
  </div>

  <div class="entry">
    {% if page.figinpost %}
      {% include thumbnail-right.html image="{{ page.figure }}" caption="{{ page.figcaption }}" %}
    {% endif %}
    {{ content }}
  </div>

  {% include page-disqus.html %}

</article>